
<script>
     function readCookie(name) {
	       var nameEQ = name + "=";
	       var ca = document.cookie.split(';');
	       for(var i=0;i < ca.length;i++) {
		      var c = ca[i];
		      while (c.charAt(0)==' ') c = c.substring(1,c.length);
		          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
	           }
	       return null;
            }
    
        (function() {
    
            var x = readCookie('entype');
            if (x) {
	            //   alert(x);
                if (document.getElementById('entityType')){
                   document.getElementById('entityType').value = x; 
                }
                
	               }
            
            var y = readCookie('entid');
            if (y) {
	            //   alert(y);
                if (document.getElementById('entityID')){
                    document.getElementById('entityID').value = y;
                }
                   }
            
            var y = readCookie('www');
            if (y) {
	            //   alert(y);
                if (document.getElementById('testUrl')){
                    document.getElementById('testUrl').value = y;
                }
                   }
            
                   })();
    
            
</script>

 