{% if page.title == 'test - ammado donation widget v.1'  or 
      page.title == 'test - ammado fundraising widget' %}

<!-- configuration button -->
<hr>

<div class="pull-right">
<button onclick="location.href='{{"/configuration"| prepend: site.baseurl }}'" class="btn btn-white btn-xs" type="button">Set default configuration</button>
</div>

<!-- cookies -->
<div class="pull-right">
<button onclick="deleteCookies();" class="btn btn-white btn-xs" type="button">Clear all cookies</button>
</div>

<br>

<!-- select section -->
<div class="text-center article-title">
<h2>Choose your configuration</h2>
</div>


<table align="center">

<tr>
<td>
  <select style="font-size: 21px; border: 0;" name="selentity" id="selentity" onchange="fillformentity();">
    <option value="" selected>Please select ...</option>
    <option value="ifrnonp">ifrc 120482</option>
    <option value="testnonprofit">nonprofit 147784</option>
    <option value="testcompany">company 175962</option>
    <option value="">-----------------</option>
    <option value="acompany8">acompany8</option>
    <option value="acompany6">acompany6</option>
    <option value="acompany10">acompany6</option>
  </select>
</td>
</tr>
</table>

<br>

<table align="center">
<tr>
<td>
  <select style="font-size: 21px; border: 0;" name="selsite" id="selsite" onchange="fillformsite();">>
    <option value="" selected>Please select ...</option>
    <option value="ammadonightly4.com">ammadonightly4</option>
    <option value="ammadonightly3.com">ammadonightly3</option>
    <option value="ammadonightly2.com">ammadonightly2</option>
    <option value="ammadonightly1.com">ammadonightly1</option>
    <option value="qammado.com">qammado</option>
    <option value="ammado.com">ammado</option>
  </select>
</td>
</tr>
</table>

<br>
<hr>

<div class="text-center article-title">
<h2>Review your configuration</h2>
</div>

{% if page.title == 'test - ammado donation widget v.1' %}
    <form name="myform" action="{{"/donate/" | prepend: site.baseurl }}" method="GET">
{% endif %}

{% if page.title == 'test - ammado fundraising widget' %}  
    <form name="myform" action="{{"/fundraise/" | prepend: site.baseurl }}" method="GET">
{% endif %}


<table style="width:40%; font-size: 16px;" align="center" cellpadding="10" >

<tr>
<td>Test Site:</td>
<td><input id="testUrl" type="text" name="testUrl" value="ammado.com" onfocus="if(this.value == 'ammado.com') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'ammado.com'; }"></td>
</tr>
    

<tr>
<td>Entity Type:</td>
<td><input id="entityType" type="text" name="entityType" value="nonprofit" onfocus="if(this.value == 'nonprofit') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'nonprofit'; }"></td>
</tr>
    
<tr>
<td>Entity Id:</td>
<td><input id="entityID" type="text" name="entityID" value="ifrc" onfocus="if(this.value == 'ifrc') { this.value = ''; }" onblur="if(this.value == '') { this.value = 'ifrc'; }"></td>
</tr>

{% if page.title == 'test - ammado fundraising widget' %} 
    <tr>
        <td>Campaign Id:</td>
        <td><input id="campID" type="text" name="campID" value=""></td>
    </tr>
{% endif %}

</table>

<hr>

<div class="text-center article-title">
<h2>Load the widget!</h2>
</div>

<div class="text-center article-title">
<h1>
<input id="submit" type="submit" value="Submit" style="font-family: Cursive;">
</h1>
</div>

</form>

{% endif %}